.main {
    padding-top: 4vh;
    text-align: center;
    font-family: 'Helvetica';
}

.main a{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid black;
    text-decoration: none;
    color: #000000;
}

